<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<!--设置移动端的自由缩放 -->
		<meta name="viewport" content="width=devicce-width,initial-scale=1.0" />
		<title>标签发布页面</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
		<link rel="stylesheet" th:href="@{/lib/editormd/css/editormd.min.css}" />
		<link rel="stylesheet" th:href="@{/css/me.css}" />
	</head>
	<body>
		<!--导航 -->
		<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small ">
			<div class="ui container">
				<div class="ui inverted secondary stackable menu">
					<a href="index.html">
						<h2 class="ui teal header item">后台管理</h2>
					</a>
					<a href="#" th:href="@{/admin/blogs}" class=" m-item item m-mobile-hide"><i class="home icon"></i>博客</a>
					<a href="#" th:href="@{/admin/types}" class="  m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="#" th:href="@{/admin/tags}" class=" active m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="#" th:href="@{/}" class="m-item item m-mobile-hide"><i class="undo alternate icon"></i>返回首页</a>
					<div class="right m-item  m-mobile-hide menu">
						<div class="ui dropdown  item">
							 <div class="text">
								 <img class="ui avatar image" src="https://i.picsum.photos/id/1005/100/100.jpg" th:src="@{${session.user.avatar}}">
								 <span th:text="${session.user.nickname}"> 科技毒瘤君</span>
							 </div>
							 <i class="dropdown icon"></i>
							 <div class=" menu">
								 <a href="#" th:href="@{/admin/logout}" class="item">注销</a>
								 <a href="" class="item">修改密码</a>
							 </div>
						</div>
					</div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>
		<!-- 二级导航部分 -->
		<div class="ui attached pointing menu">
			<div class="ui container">
				<div class="right menu">
					<a href="#"th:href="@{/admin/tags/input}" class=" active teal item">新增</a>
					<a href="#"th:href="@{/admin/tags}" class="item">列表</a>
				</div>
			</div>
		</div>

		<br>
		<br>
		<!-- 中间内容-->
		<div class="m-container m-padded-tb-big">
			<div class="ui container">
				<form action="#" method="post" th:object="${tag}"  th:action="*{id}==null ? @{/admin/addTags} : @{/admin/updateTags/{id}(id=*{id})}"  class="ui form">
					<input type="hidden" name="id" th:value="*{id}">
					<!-- 首图 -->
					<div class=" required field">
						<div class="ui left labeled input">
							<label for="" class="ui teal basic label">名称</label>
							<input type="text" name="name" placeholder="标签名称" th:value="*{name}"/>
						</div>
					</div>
					<!-- 提示信息 -->
					<div class="ui error message"></div>
					<!--/*/
					<div class="ui negative message" th:if="${#fields.hasErrors('name')}">
						<i class="close icon"></i>
							<div class="header">验证失败</div>
							<p th:errors="*{name}">提交信息不符合规则</p>
					</div>
					/*/-->
					<!-- 底部三个按钮 -->
					<div class="ui right aligned container">
						<button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
						<button class="ui teal submit button">提交</button>
					</div>
				</form>
			</div>
		</div>
		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


		<!-- 底部换行，增加间距 -->
		<br/>
		<br/>
		<br/>
		<!-- 底部内容fotter-->
		<footer th:replace="_fragment :: footer"  class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui container" align="center">
				<div class="ui inverted divided stackable grid">
					<!--微信二维码 -->
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img th:src="@{/image/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px;">
							</div>
						</div>
					</div>
					<!-- 最新博客-->
					<div class="three wide column">
						<div class="ui inverted link list">
							<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
							<a href="#" class="item">用户故事（User story）</a>
							<a href="#" class="item">用户故事（User story）</a>
							<a href="#" class="item">用户故事（User story）</a>
						</div>
					</div>
					<!-- 联系我-->
					<div class="four wide column">
						<div class="ui inverted link list">
							<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
							<a href="#" class="item">QQ：1797007941</a>
							<a href="#" class="item">微信公众号：科技毒瘤君</a>
							<a href="#" class="item">Email：www.beiwangshan@icloud.com</a>
						</div>
					</div>
					<!--个人简介 -->
					<div class="six wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">EasyStudy</h4>
						<p class="m-text-thin m-text-spaced m-opactiy-mini">这是我的个人博客介绍这是我的个人博客介绍这是我的个人博客介绍这是我的个人博客介绍这是我的个人博客介绍</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<div style="width:300px;margin:0 auto; padding:20px 0;">
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102003690" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
						 src="" style="float:left;" />
						<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42011102003690号</p>
					</a>
				</div>
				<p class="m-text-thin m-text-spaced m-opactiy-tiny">Copyright @ 2020-2020 EasyStudy Designed by 科技毒瘤君 </p>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
		<script th:src="@{/lib/editormd/editormd.min.js}"></script>
		<script>
			// 初始化Markdown编辑器
			var contentEditor;
			$(function() {
			    contentEditor = editormd("md-content", {
			        width   : "100%",
			        height  : 640,
			        syncScrolling : "single",
			        path    : "/lib/editormd/lib/"
			    });
			});
			// 手机端隐藏菜单
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
			
			// 初始化下拉菜单
			$('.ui.dropdown').dropdown({
				on : 'hover'
				});
			/*表单验证*/
			$('.ui.form').form({
				fields: {
					name : {
						identifier: 'name',
						rules: [{
							type: 'empty',
							prompt: '请输入分类名称'
						}]
					},
				}
			});

			$(".message .close")
					.on("click",function () {
						$(this)
								.closest(".message")
								.transition('fade');
					});
		</script>
	</body>
</html>
