<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<!--设置移动端的自由缩放 -->
		<meta name="viewport" content="width=devicce-width,initial-scale=1.0" />
		<title>Warriors</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css" />
		<link rel="stylesheet" th:href="@{/css/me.css}" />
	</head>
	<body>
		<!--导航 -->
		<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small div1" >
			<div class="ui  container">
				<div class="ui  inverted secondary stackable menu">
					<a href="index.html" th:href="@{/}">
						<h2 class="ui  header item" style="color: yellow">Warriors</h2>
					</a>
					<a href="index.html" th:href="@{/}" class="active m-item item m-mobile-hide"><i class="home icon"></i>首页</a>
					<a href="types.html" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
					<a href="tags.html"  th:href="@{/tags/-1}"  class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
					<a href="messages.html"  th:href="@{/message}"  class="m-item item m-mobile-hide"><i class="envelope outline icon"></i>留言</a>
					<a href="archives.html"  th:href="@{/archives}"  class="m-item item m-mobile-hide"><i class="clone icon"></i>归档</a>
					<a href="aboutMe.html"  th:href="@{/aboutMe}"  class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
					<div class="right m-item item m-mobile-hide">
						<form name="search" action="#" th:action="@{/search}" target="_blank">
							<div class="ui icon inverted transparent input">
								<input type="text" placeholder="搜索..." name="query">
								<i onclick="document.forms['search'].submit()" class="search link icon"></i>
							</div>
						</form>
					</div>
					<div class="column m-item item m-mobile-hide" ><i class="user icon"></i><a href="#" th:href="@{/admin}">后台管理</a></div>
				</div>
			</div>
			<a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
				<i class="sidebar icon"></i>
			</a>
		</nav>

		<!--音乐播放器-->
		<div class="div2">
			<iframe frameborder="no" border="0" marginwidth="0" marginheight="0" width=280 height=52 src="//music.163.com/outchain/player?type=2&id=34274470&auto=1&height=32"></iframe>
		</div>
		<!-- 中间内容-->
		<div class="m-container m-padded-tb-big  div2">
			<!--container具有响应式的一个效果 -->
			<div class="ui container">
				<div class="ui stackable grid">
					<!-- 文章主体部分，左边博客列表-->
					<div class="eleven wide column">
						<!-- 首页头部 -->
						<div class="ui top attached segment">
							<div class="ui middle aligned two column grid">
								<div class="column">
									<h3 class="ui teal header">我的博客</h3>
								</div>
								<div class="right aligned column">
									共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${page.totalElements}"> 88 </h2> 篇
								</div>
							</div>
						</div>
						
						
						<!-- 中间博客内容 -->
						<div class="ui attached  segment">
						<!-- 第一篇 -->
							<div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" th:each="blog:${page.content}">
								<div class="ui mobile reversed stackable grid" >
									<!-- 内容分页的十一份 -->
									<div class="eleven wide column">
										<h3 class="ui header m-text-thin m-text-spaced" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="m-black"  th:text="${blog.title}" >spring boot 实战开发教程一</a> </h3>
										<p class="m-text-thin"  th:text="|${blog.description}......|">做内容站点到底做什么好呢?做内容站点到底做什么好呢?做内容站点到底做什么好呢?做内容站点到底做什么好呢?做内容站点到底做什么好呢?</p>
										<div class="ui stackable grid">
											<div class="eleven wide column">
												<div class="ui mini horizontal link list">
													<div class="item">
														<img src="https://i.picsum.photos/id/1005/100/100.jpg" th:src="@{${blog.user.avatar}}" alt="" class="ui avatar image">
														<div class="content"><a href="#" class="header" th:text="${blog.user.nickname}"></a></div>
													</div>
													<div class="item">
														<i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2020-02-22</span>
													</div>
													<div class="item">
														<i class="eye icon"></i><span th:text="${blog.view}">666</span>
													</div>
												</div>
											</div>
											<div class="right aligned five wide column">
												<a href="#" target="_blank" class="ui teal basic label m-padded-tiny m-text-thin " th:text="${blog.type.name}">认知升级</a>
											</div>
											<div class="row">
												<div class="column">
													<a href="#" th:href="@{/tags/{id}(id=${tag.id})}" class="ui basic teal left pointing label m-padded-mini m-text-thin"  th:each="tag:${blog.tags}" th:text="${tag.name}">方法论</a>
												</div>
											</div>
										</div>
									</div>
									<!-- 内容分页的五份 -->
									<div class="five wide column">
										<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
											<img src="https://i.picsum.photos/id/1005/800/450.jpg" th:src="${blog.firstPicture}" alt="" class="ui rounded image">
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<!-- 底部翻页 -->
						<div class="ui bottom attached segment">
							<div class="ui middle aligned two column grid" th:if="${page.totalPages}>1">
								<div class="column">
										<a th:href="@{/blog(page=${page.number-1})}" class=" ui mini teal basic button" th:unless="${page.first}">上一页</a>
								</div>
								<div class="right aligned column">
									<a th:href="@{/blog(page=${page.number+1})}" class=" ui mini teal basic button" th:unless="${page.last}">下一页</a>
								</div>
							</div>
						</div>
					</div>



					<!-- 右部分类部分-->
					<div class="five wide column">
						<div class="ui segments">
						<!-- 标签内容头部 -->
							<div class="ui secondary segment">
								<div class="ui two column grid">
									<div class="column">
										<i class="idea icon"></i>分类
									</div>
									<div class="right aligned column">
										<a href="#" th:href="@{/types/-1}" target="_blank" >more <i class="angle double right icon"></i></a>
									</div>
								</div>
							</div>
						<!-- 标签内容详情 -->
						<div class="ui teal segment">
							<div class="ui fluid vertical menu" th:each="type:${types}">
								<a href="#" th:href="@{/types/{id}(id=${type.id})}" class="item">
									<span th:text="${type.name}">学习日志</span>
									<div class="ui teal basic left label" th:text="${#arrays.length(type.blogs)}">13</div>
								</a>
							</div>
						</div>

						</div>
						<!-- 右部标签部分 -->
						<div class="ui segments m-margin-top-large">
							<!-- 标签内容头部 -->
								<div class="ui secondary segment">
									<div class="ui two column grid">
										<div class="column">
											<i class="tags icon"></i>标签
										</div>
										<div class="right aligned column">
											<a href="#" th:href="@{/tags/-1}" target="_blank" >more <i class="angle double right icon"></i></a>
										</div>
									</div>
								</div>
								<div class="ui teal segment" >
									<a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui teal basic left pointing label m-margin-tb-tiny" th:each="tag:${tags}">
										<span th:text="${tag.name}">java方法</span> <div class="detail" th:text="${#arrays.length(tag.blogs)}">23</div>
									</a>

								</div>
						</div>
						<!-- 最新推荐 -->
						<div class="ui segments m-margin-top-large">
							<!-- 最新推荐内容头部 -->
								<div class="ui secondary segment">
								<i class="bookmark icon"></i>最新推荐
								</div>
								<div class="ui segment" th:each="blog:${recommendBlogs}">
									<a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin"><span th:text="${blog.title}">用户故事（user story）</span></a>
								</div>

						</div>
						<!-- 二维码 -->
						<h5 class="ui horizontal divider hearder m-margin-top-large">扫描关注我</h5>
						<div class="ui centered card" style="width: 11em">
							<img th:src="@{/image/wechat.jpg}" alt="微信公众号二维码" class="ui runded image">
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- 底部换行，增加间距 -->
		<br/>
		<br/>
		<br/>
		<!-- 底部内容fotter-->
		<footer th:replace="_fragment :: footer" class="ui inverted vertical segment m-padded-tb-massive">
			<div class="ui container" align="center">
				<div class="ui inverted divided stackable grid">
					<!--微信二维码 -->
					<div class="three wide column">
						<div class="ui inverted link list">
							<div class="item">
								<img th:src="@{/image/wechat.jpg}" class="ui rounded image" alt="" style="width: 110px;">
							</div>
						</div>
					</div>
					<!-- 最新博客-->
					<div class="three wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
							<div class="ui inverted link list"  th:fragment="newBlogList">
							<a href="#" th:href="@{/blog/{id}(${blog.id})}" target="_blank" class="item" th:each="blog:${newBlogList}"  th:text="${blog.title}">用户故事（User story）</a>
							<a href="#" class="item">用户故事（User story）</a>
							<a href="#" class="item">用户故事（User story）</a>
						</div>
					</div>
					<!-- 联系我-->
					<div class="four wide column">
						<div class="ui inverted link list">
							<h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
							<a href="#" class="item">QQ：1797007941</a>
							<a href="#" class="item">微信公众号：科技毒瘤君</a>
							<a href="#" class="item">Email：www.beiwangshan@icloud.com</a>
						</div>
					</div>
					<!--个人简介 -->
					<div class="six wide column">
						<h4 class="ui inverted header m-text-thin m-text-spaced">EasyStudy</h4>
						<p class="m-text-thin m-text-spaced m-opactiy-mini">这是我的个人博客介绍这是我的个人博客介绍这是我的个人博客介绍这是我的个人博客介绍这是我的个人博客介绍</p>
					</div>
				</div>
				<div class="ui inverted section divider"></div>
				<div style="width:300px;margin:0 auto; padding:20px 0;">
					<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=42011102003690" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
							src="" style="float:left;" />
						<p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">鄂公网安备 42011102003690号</p>
					</a>
				</div>
				<p class="m-text-thin m-text-spaced m-opactiy-tiny">Copyright @ 2020-2020 EasyStudy Designed by 科技毒瘤君 </p>
			</div>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
		<script>
			$('.menu.toggle').click(function(){
				$('.m-item').toggleClass('m-mobile-hide');
			});
		</script>
	<script th:replace="_fragment :: newBlog"></script>
	</body>
</html>
